<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>For Martians</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    
</head>
<body>
    <div>
        <h2>{{mars_info.news_title}}</h2>
        <p>{{mars_info.news_paragraph}}</p>
        <p>{{mars_info.weather}}</p>

        <div>
                {{mars_info.facts_table | safe}}
        </div>
        <div>
                {% for h in mars_info.hemispheres %}
                <p>{{h.title}}</p>
                <p>{{h.img_url}}</p>
                {% endfor %}

        </div>
    </div>
    
</body>
</html>